.reveal section del {
  font-family: courier;
  color: blue;
}

<div class="footer">
  This block of text will appear with the 'footer' style
</div>

<style>
  .footer {
    color: black;
    background: #E8E8E8;
    position: fixed;
    top: 90%;
    text-align:center;
    width:100%;
  }
</style>

<style>
  .midcenter {
    position: fixed;
    top: 50%;
    left: 50%;
}
</style>
